.cabecalho{
    background-color: #90B58B;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    text-decoration:none;
    border-radius: 5px;
    
}

.img_menu{
    height: auto;
    width: 75px;
}
.navbar{
    display: flex;
    text-decoration:none;
}

.navbar_link{
    display: flex;
    padding-right: 20px;
    text-align: center
}