.cabecalho{
    width:100%;
    background-color: #90B58B;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    text-decoration:none;
}

.img_menu{
    height: auto;
    width: 75px;
}
.navbar{
    display: flex;
    text-decoration:none;
}

.navbar_link{
    padding-right: 8px;
    text-decoration:none;
    text-align: center
}