.main{
    display: flex;
    justify-content: center;
}

.error {
    justify-content: center;
    align-items: center;
    display: block;
    height: 150px;
    width: 400px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid red;
    background-color: #e6e4e4;
    margin-top: 100px;
}

.h2{
    justify-content: center;
    display: flex;
    text-align: center;
}

.botao{
    border: solid 1px #C81E00;
    border-radius: 20px;
    color: #C81E00;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.botao:hover{
    background-color: #C81E00;
    color: white;
    transform: scale(1.2)
}